<% sub ||= "" %>
<% term ||= "(expand)" %>

<div class="cl" style="text-align:center">
<div class="collapse-group">
	<<%=tag%> class="squeeze"> 
		<%=title%> 
		<% if sub != "" %> 
			<small><%= sub %></small>
		<% end %>
		<a class="bundle" href='#'><%= term %></a> 
	</<%=tag%>>
<div class="collapse normalize inset">
<div class="inset">