- if job.link.present?
  %h3
    %a.blue_links{:href => job.link }
      %span{:style => "font-size:105%"}= job.name
      %small{:style => "color:#88b0d2;"} 
        = job.subtitle 
      >>
- else
  .cl
    .collapse-group
      %h3.squeeze.bold
        = job.name
        %small= job.subtitle
        %a.bundle.unbold{ href: '#' } +
      .collapse.inset
        - job.paragraphs.each do |paragraph|
          %p.blue_links= raw paragraph