- if item.link.present?
  .collapse-title.top-level
    %a{ href: item.link, target: '_self' }
      %span= item.title
      %small
        = item.subtitle.html_safe
        %i.fa.fa-arrow-right

- else
  .panel.closed
    %span.collapse-title.expandable-panel-title
      = item.title
      %small
        = item.subtitle.html_safe
        %i.fa.fa-plus-circle
    .roles
      - many_roles = item.roles.count > 1
      - item.roles.each_with_index do |role, index|
        - if many_roles
          .role-subtitle= role.subtitle.html_safe
        .paragraph{ class: many_roles ? 'subrole' : '' }= markdown( role.description )
        - if index != item.roles.length - 1
          %br