<div class="skillz">
	<table>
		<tr> 
			<td>Ruby-on-Rails</td>
			<td><%= render partial: 'stars', locals: {num: 4} %></td>
		</tr>
		<tr>
			<td>HTML5</td>
			<td><%= render partial: 'stars', locals: {num: 5} %></td>
		</tr>
		<tr>
			<td>Javascript/JQuery</td>
			<td><%= render partial: 'stars', locals: {num: 4} %></td>
		</tr>
		<tr> 
			<td>CoffeeScript</td>
			<td><%= render partial: 'stars', locals: {num: 4} %></td>
		</tr>
		<tr>
			<td>RSpec</td>
			<td><%= render partial: 'stars', locals: {num: 3} %></td>
		</tr>
		<tr>
			<td>PostgreSQL</td>
			<td><%= render partial: 'stars', locals: {num: 4} %></td>
		</tr>
		<tr>
			<td>Adobe Photoshop</td>
			<td><%= render partial: 'stars', locals: {num: 5} %></td>
		</tr>
		<tr> 
			<td>CSS</td>
			<td><%= render partial: 'stars', locals: {num: 5} %></td>
		</tr>
		<tr>
			<td>Ruby</td>
			<td><%= render partial: 'stars', locals: {num: 4} %></td>
		</tr>
		<tr>
			<td>Python</td>
			<td><%= render partial: 'stars', locals: {num: 3} %></td>
		</tr>
		<tr> 
			<td>Git/Coordination</td>
			<td><%= render partial: 'stars', locals: {num: 4} %></td>
		</tr>
	</table>
</div>