.skillz
	%table
		%tr 
			%td Ruby-on-Rails
			%td= render partial: 'stars', locals: {num: 4}
		%tr
			%td HTML5
			%td= render partial: 'stars', locals: {num: 5}
		%tr
			%td Javascript/JQuery
			%td= render partial: 'stars', locals: {num: 4}
		%tr 
			%td CoffeeScript
			%td= render partial: 'stars', locals: {num: 4}
		%tr
			%td RSpec
			%td= render partial: 'stars', locals: {num: 3}
		%tr
			%td PostgreSQL
			%td= render partial: 'stars', locals: {num: 4}
		%tr
			%td Adobe Photoshop
			%td= render partial: 'stars', locals: {num: 5}
		%tr 
			%td CSS
			%td= render partial: 'stars', locals: {num: 5}
		%tr
			%td Ruby
			%td= render partial: 'stars', locals: {num: 4}
		%tr
			%td Python
			%td= render partial: 'stars', locals: {num: 3}
		%tr 
			%td Git/Coordination
			%td= render partial: 'stars', locals: {num: 4}