<% provide(:title, 'Welcome') %>
<div class="center hero-unit">
  <h1>Well, hi there!</h1>

  <p>
  	My name's Sasha Klein. I'm a freelance web developer and dilettante, excited to keep learning and creating online. I started web development with <%= link_to "Bloc", "www.bloc.io" %>, an intensive, online Ruby-on-Rails bootcamp, where I worked with a cohort and several mentors to cover the basics of Ruby, HTML, CSS, Rails, Javascript and more, and turn that knowledge into a functional final-project.<br>

  	Mine, <%= link_to "Meatup", 'portfolio#meatup' %>, ended up turning into both a mammoth one-man coding project and an introductory course to start ups, as I tried to turn my learning project into a functional real-world solution to the complications of buying whole-animal meat directly from a farmer.<br>

  	Before coding -- a fairly recent development in my life -- I was <%= link_to "teaching and college counseling in Shanghai", 'portfolio#china' %> and, before that, studying English Lit in Boston and odd jobbing around the world.<br>

  	I love tackling new, complicated problems, and would love to hear about yours. If you've got a web project that needs coding, get in touch, either through <%= link_to "ODesk", 'https://www.odesk.com/users/~01e74747c979a7bfd6' %> or by <%= link_to "shooting me an email", '#email' %>.
  </p>

</div>