<% provide(:title, 'On coding') %>

	<div class="span4 sidebar-nav-fixed">
		<h1 class="squeeze">Recent Topics</h1>
		<ul class="blog_list">
			<% @postlist.last(10).each do |p| %>
				<li><a href=<%="/devlog?page=#{p.id}\#" %> ><%= p.name %> <span class="manual_small">(<%= p.created_at.strftime("%b %d, %Y") %>)</span></a></li>
			<% end %>
		</ul>
		<div class="center"><%= will_paginate @posts, previous_label: "<<", next_label: ">>", inner_window: 2 %></div>
	</div>

		<% @posts.each do |p| %>
			<div class="span7 left-bar move-right">
				<h1 class="squeeze"><%= p.name %></h1>
					<%= markdown p.content %>
			</div>
		<% end %>

</div> <!-- Ending row div from app.html.erb -->
