- provide(:title, 'Web Portfolio')

.portfolio-show{ ng_controller: 'PortCtrl' }
  - @portfolio_items.each_with_index do |item, index|
    .portfolio-item.container
      .sidebar.black-links{ class: top?(index) }
        = safe_link_to image_tag(item.image, class: "port-photo spinner-wrapper", alt: item.title, spinkit_image_preloader: 'rotating-plane-spinner'), item.link_path, style: photo_margin_top?(index)
        .show-medium{ style: 'margin-top: 30px'}
        - if item.bullets
          %ul.port-list.hide-medium
            - item.bullets.each do |bullet|
              %li= bullet

      .content-section
        .port-header{ ng_click: "takeToLink('#{ item.link_path }')", ng_class: "h1Class('#{ item.link_path }')" }
          %h1= item.title
          %h2= item.subtitle
        .markdown-container
          - item.paragraphs.each do |paragraph|
            %p= markdown( paragraph ).html_safe

        - if next_item = @portfolio_items[index + 1]
          .header-spacer.hidden-anchor{ id: next_item.title.downcase.split(" ").join("-") }
