- provide(:title, 'Web Portfolio')

.portstuff
  - @portfolio_items.each_with_index do |item, index|
    .row.container{ class: top?(index) }
      .span4.black_links
        = link_to image_tag(item.image, class: "port_photo", alt: item.title), item.link, style: photo_margin_top?(index)
        - if item.bullets
          %ul.port_list
            - item.bullets.each do |bullet|
              %li= bullet

      .span7.left-bar.move-right#meatup
        %h1= item.title
        %h2= item.subtitle
        - item.paragraphs.each do |paragraph|
          %p= raw paragraph