<% provide(:title, 'Resume') %>

<div class="span4 right-bar">
	<div class="headshot"><%= image_tag('headshot.png') %></div>
	<div class="link_icons">
		<%= link_to image_tag('github.png') + "github", 'https://www.github.com/sashafklein' %>
		<%= link_to image_tag('odesk2.png') + "odesk", 'https://www.odesk.com/users/~01e74747c979a7bfd6' %>
		<%= link_to image_tag('email.png') + "email", '/contact' %>
	</div>

	<h1 class="squeeze">Skillset</h1>
		<%= render partial: "skills" %>
</div>

<div class="span7">
	<h1 class="squeeze">Education</h1>

		<div class="inset">
			<h2 class="squeeze">Bloc <small>(2012)</small></h2><div class="inset">
				<p class="blue_links"><%= link_to "Bloc", "https://www.bloc.io" %> is an online web-development boot camp that turns a small cohort of students into well-versed web developers over the course of 2-3 intensive months.</p>

				<p>A faculty of "mentor" coders guides us through <em>Ruby</em>, <em>HTML</em>, <em>CSS</em>, <em>Git</em>, <em>Rails</em>, <em>RSpec</em> testing, <em>Javascript/JQuery</em>, and more. The learning is focused through, and culminates in, a final project of our own design.</p>

				<p>Bloc got my developing feet wet and helped teach me how to teach myself to tackle any coding obstacle thrown my way.</p>
			</div>

			<%= render partial: "collapse_start", 
									 locals: { title: "Harvard University", tag: "h2", sub: "(Cum Laude 2011)", term: '+' } %><div class="inset">
					<p>After four years of debating which major to choose -- mostly torn between Psychology, Econ, Film, and English Lit -- I decided on the least relevant and graduated with an honors English degree and a screenplay for a thesis in May of 2011.</p>
					<p>As a consequence, my undergraduate education has very little to do with my development work, but I feel the four years I spent studying, volunteering, and working instilled in me an excitement about learning that has translated neatly into web development.</p>
					<p>Bloc aside, all of my development knowledge has been self-taught, and I credit both Bloc and college with turning me into a more effective learner, and, by extension, developer.</p>
				</div></div></div></div><br>


			<h1 class="squeeze">Work Experience</h1>
			<div class="inset blue_links">
					<h3>
						<a href="/portfolio" class="blue_links">
							<span style="font-size:105%">MeatUp </span>
							<small style="color:#88b0d2;">San Francisco (2012)</small> >>
						</a>
					</h3>
			</div>
			<div class="inset">

					<%= render partial: "collapse_start", locals: 
						{ title: "Dipont Education", sub: "Shanghai, China (2011-2012)", tag: "h3", 
							term: "+"} %><div class="inset">
							<p class="blue_links">At Dipont, I taught (English exposition, French, and Psychology) to Chinese high school students and helped students applying to college in the US through the foreign application process. I also edited and briefly wrote for the Dipont quarterly, helped design the future of Dipont's counseling program and alumni outreach, and even participated in panel discussions on American education. I wrote <%= link_to "a blog", '/portfolio#china' %> about my time there.</p>
					</div></div></div></div>

					<%= render partial: "collapse_start", locals: 
						{ title: "Think Food Group", sub: "Washington, DC (2010)", tag: "h3", 
							term: "+" } %><div class="inset">
							<p class="blue_links">Food has long been my main passion, so I returned home to DC after several summers abroad to work for Jose Andres, the head chef of DC's main food empire (and, increasingly, one of the US's). At <%= link_to 'Think Food Group', 'http://www.thinkfoodgroup.com' %>, the organization in charge of Andres' restaurants and philanthropic projects, I worked on coordinating his philanthropic, culinary, and travel ("research") schedules, as well as drafting speeches and assisting marketing and publicity.</p>
					</div></div></div></div>

					<%= render partial: "collapse_start", locals: 
						{ title: "Coproduction Office", sub: "Paris, France (2009)", tag: "h3", 
							term: "+" } %><div class="inset">	
							<p class="blue_links">In the summer of 2009, after an academic year focused largely on film, I worked in the Paris branch of <%= link_to "Coproduction Office", "http://coproductionoffice.eu" %>, an international arthouse film rights/distribution company. There, I managed film-festival expenditure records, assisted in film post-production, and judged screenplays and finished films for production and purchasing.</p>
					</div></div></div></div>

					<%= render partial: "collapse_start", locals: 
						{ title: "UN High Commissioner for Refugees", sub: "Rabat, Morocco (2008)", tag: "h3", term: "+" } %>
						<div class="inset">
						<p class="blue_links">The summer after freshman year of college, I went to practice my French and see if IR/social work was for me in Rabat, Morocco, where I worked for the <%= link_to "UNHCR", "http://en.wikipedia.org/wiki/United_Nations_High_Commissioner_for_Refugees" %>. There, I conducted aid interviews (in French), managed and reworked the Moroccan UNHCR's refugee record system, oversaw aid distribution, and developed a new strategy around shelter and schooling services for refugees in Morocco.</p>
					</div></div></div></div>

			</div>

	</div>
	
</div> 