- provide(:title, 'Resume')

.resume-container.row.container.sixteen.columns.undecorated{ ng_controller: 'ResumeCtrl' }
  .six.columns.right-bar.med-and-up
    = render "headshot"
    = render "skills"

  .nine.columns.mobile-section.blue_links.med-and-up
    = render 'education_and_work'

  .mobile-only.sixteen-columns.mobile-section.blue_links
    = render 'headshot'
    = render 'education_and_work'
    = render 'skills'