= form_for(@post) do |f|
  - if @post.errors.any?
    .error_explanation
      %h2
        = pluralize(@post.errors.count, "error") 
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name, id: "name"
  .field.text-area
    = f.label :content
    %br
    = f.text_area(:content, :size => '50x20', id: "content")

  .actions.btn-group
    = f.submit 'Post It', class: "btn"