<% provide(:title, @post.name) %>
	
	<div class="span4 sidebar-nav-fixed blog_list">
		<h1 class="squeeze">Recent Posts 
			<span class="sexy_blue"><%= link_to ">>", posts_path %></span>
		</h1>
    <%= form_tag @post, :method => 'get', :id => "posts_search", class: "serach_form squeeze form-inline" do %>
		  <p>
		    <%= text_field_tag :search, params[:search], 
		    placeholder: "Search titles:", id: "search_field" %>
		    <%= submit_tag "Search", name: nil, class: "btn squeeze search" %>
		  </p>
		  <div id="list"><%= render 'search' %></div>
		<% end %>
    <div class="pagination">
			<%= link_to "EDIT", "/posts/#{@post.id}/edit", style: "margin-right:10px;" if current_user %>
				<% if @post.id != 1 %>
					<%= link_to "<< PREV", previous(@post) %>
				<% end %>
				<% if @next_post %>
					<%= link_to "NEXT >>", @next_post %>
				<% end %>
		</div>
	</div>

	<div class="span7 left-bar move-right" id="blog_content">
		<h1 class="squeeze"><%= @post.name %> <small>(<%= @post.created_at.strftime("%m/%d/%Y") %>)</small></h1>
			<%= markdown @post.content %>
	</div>
</div> <!-- Ending row div from app.html.erb -->
