<% provide(:title, @post.name) %>

	<div class="span4 sidebar-nav-fixed">
		<h1 class="squeeze">Recent Posts</h1>
      <input type="text" ng-model="criteria" placeholder="Search posts:" class="search">
      <h2>The list:</h2>
      <ul>
      	<li ng-repeat="post in posts | filter:criteria">
      		{{post.name}}
      	</li>
      </ul>
      <br>
			<ul class="blog_list">
				<% @posts.each do |p| %>
					<li><a href=<%="/posts/#{p.id}" %> ><%= p.name %> <span class="manual_small">(<%= p.created_at.strftime("%b %d, %Y") %>)</span></a></li>
				<% end %>
			</ul>
	</div>

	<div class="span7 left-bar move-right">
		<h1 class="squeeze"><%= @post.name %> <small>(<%= @post.created_at.strftime("%m/%d/%Y") %>)</h1>
			<%= markdown @post.content %>
			<div class="pagination">
				<%= link_to "EDIT", "/posts/#{@post.id}/edit", style: "margin-right:10px;" if current_user %>
					<% if @post.id != 1 %>
						<%= link_to "<< PREVIOUS", post_path(@post.id - 1) %>
					<% end %>
					<% if @next_post %>
						<%= link_to "NEXT >>", @next_post %>
					<% end %>
			</div>
	</div>
</div> <!-- Ending row div from app.html.erb -->
