.row.container
  %table.table.table-striped
    %thead
      %tr
        - controller.open_attr_keys.each do |key|
          %th= key.to_s.humanize
        %th
        %th
    
    %tbody
      - @items.each do |item|
        %tr
          - controller.open_attr_keys.each do |key|
            %td= item[key].to_s.truncate(80)
          %td= safe_link_to "Edit", item_edit_path(item)
          %td= safe_link_to "Delete", item, method: :delete, data: { confirm: "Are you sure?" }

  = safe_link_to "Create", item_new_path(controller), class: 'btn'

