.piglet.navbars
  .container.undecorated
    .seven.columns
      = link_to image_tag('pig3.png') + "SASHA KLEIN", resume_path
      .only-show-big
        %p{:style => "color:#ffcece;display:inline-block;"} WEB DEVELOPER
    .nine.columns.pull-right
      = link_to "PORTFOLIO", portfolio_path
      = link_to "DEVLOG", devlog_path
      - if current_user
        = link_to "", wikis_path, class: "icon-file"
        = link_to "", logout_path, class: "icon-circle-blank"