.header.med-and-up
  .navbars.top-bar.fix-to-top
    .container.undecorated.sixteen.columns
      .big-screen.piglet
        .seven.columns.left-section
          = safe_link_to image_tag('pig3.png') + "SASHA KLEIN", resume_path, class: 'pig-link'
          .only-show-big
            %p.web-dev WEB DEVELOPER
        .nine.columns.right-section
          = safe_link_to "PORTFOLIO", portfolio_path
          = safe_link_to "BLOG", devlog_path
          - if current_user
            .only-show-big.inline
              = safe_link_to "", wikis_path, class: "icon-file"
              = safe_link_to "", logout_path, class: "icon-circle-blank"
  - if flash.first
    .alert.center{ class: "alert-#{flash.first.first}" }= flash.first.last
  .navbar-spacer

.header.mobile.mobile-only
  .mobile-section.mobile-header-links
    .sixteen.header-row.columns.border-bottom= safe_link_to "RESUME", resume_path
    .sixteen.header-row.columns.border-bottom= safe_link_to "PORTFOLIO", portfolio_path
    .sixteen.header-row.columns= safe_link_to "BLOG", devlog_path

