.header-bar
  .container.undecorated.top-section
    .header-content
      .left-section
        .flex-link
          = safe_link_to image_tag('pig3.png') + "SASHA KLEIN", resume_path, class: 'pig-link'
      .right-section
        .flex-link.hamburger
          = image_tag('hamburger.png')
        .flex-link.full-link
          = safe_link_to "PORTFOLIO", portfolio_path
        .flex-link.full-link
          = safe_link_to "BLOG", devlog_path
        - if current_user
          .flex-link.full-link
            = safe_block_link_to wikis_path do
              = fa_icon "file"
          .flex-link.full-link
            = safe_block_link_to destroy_user_session_path, method: :delete do
              = fa_icon "circle-o"
.header-spacer

- if flash.first
  .alert.center
    %p= flash.first.last