!!!
%html{ 'ng-app' => "MainApp" }
  %head
    %title= full_title(yield(:title))
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags
    %meta{ :name => "google-site-verification", :content => "idIPkgRBikSL9PCS4rVkkZfRjxYbPxNbyF6tVymBWbc" }
    = render 'layouts/shim'

  %body{ class: body_class }
    .navbars.thin_lower_band.navbar-fixed-top.header
      = render 'layouts/header'
    .top_buffer
    .container
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key} button.close")      
    
    = render 'layouts/content-yields'

    %div{ ng_view: true }


    .bottom_buffer
    .navbars.navbar-fixed-bottom.footer

- if controller_path == 'posts'
  %script{type: "text/ng-template", id: "show_post.html"}= render 'posts/show'

  %script{type: "text/ng-template", id: "post_archive.html"}= render 'posts/archive'