
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="idIPkgRBikSL9PCS4rVkkZfRjxYbPxNbyF6tVymBWbc" />
    <%= render 'layouts/shim' %> 
  </head>
  <body> <!-- outer band -->

    <div class="navbars thin_lower_band navbar-fixed-top header">
      <%= render 'layouts/header' %>
    </div>
    
    <div class='top_buffer'></div>
    
    <div class="row container">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key} button.close") %>
        <% end %>
        
        <%= yield %>      
    </div> 

    <div class='bottom_buffer'></div>
    
    <div class="navbars navbar-fixed-bottom footer">
    </div>
  </body>
</html>