!!!
%html
  %head
    %title= full_title(yield(:title))
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "google-site-verification", :content => "idIPkgRBikSL9PCS4rVkkZfRjxYbPxNbyF6tVymBWbc" }
    = render 'layouts/shim'

  %body
    .navbars.thin_lower_band.navbar-fixed-top.header
      = render 'layouts/header'
    .top_buffer
    
    - flash.each do |key, value|
      = content_tag(:div, value, class: "alert alert-#{key} button.close")      
    = yield

    .bottom_buffer
    .navbars.navbar-fixed-bottom.footer