!!!
%html{ 'ng-app' => "MainApp" }
  %head
    %title= full_title(yield(:title))
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"

    %base{ href: "/posts/" }
    = csrf_meta_tags
    %meta{ name: "google-site-verification", content: "idIPkgRBikSL9PCS4rVkkZfRjxYbPxNbyF6tVymBWbc" }
    = render 'layouts/shim'

  %body{ class: body_class }
    = render 'layouts/content_yields'

  :javascript
    window.MainApp = { current_user: "#{ current_user ? current_user.name : nil }" }

- if controller_path == 'posts'
  %script{type: "text/ng-template", id: "show_post.html"}= render 'posts/show'
  %script{type: "text/ng-template", id: "post_archive.html"}= render 'posts/archive'
  %script{type: "text/ng-template", id: "edit_post.html"}= render 'posts/edit'
  %script{type: "text/ng-template", id: "new_post.html"}= render 'posts/new'