
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'pig_favicon.ico' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="idIPkgRBikSL9PCS4rVkkZfRjxYbPxNbyF6tVymBWbc" />
    <%= render 'layouts/shim' %> 
  </head>
  <body class="sky"> <!-- outer band -->
      <div class="inner banded"> <!-- main container -->
          <div class="bubble banded"> <!-- bubble for text/header/footer -->
            <%= render 'layouts/header' %>
          </div>
          <div class="bubble banded">
            <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "alert alert-#{key} button.close") %>
            <% end %>
            <%= yield %>
          </div>
          <div class="bubble banded">
            <%= render 'layouts/footer' %>
          </div>
      </div>
      <div class="dirt"></div>
  </body>
</html>