!!!
%html
  %head
    %title= full_title(yield(:title))
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "google-site-verification", :content => "idIPkgRBikSL9PCS4rVkkZfRjxYbPxNbyF6tVymBWbc" }
    = render 'layouts/shim'

  %body{ class: body_class }
    = yield